@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset the margin/padding for body, html, and all elements */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Optional: Remove default styles for body */
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
  }
}
